@model IEnumerable<FilmReview.Models.News>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>FilmReview Page</h1>
    <p class="lead">(update in the future)</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <center><h1>News</h1></center>
    <hr />
    @foreach (var item in Model.Take(3))
    {
        <div class="col-md-4">
            <h2>@Html.DisplayFor(modelItem => item.Title)</h2>
            <p>@Html.DisplayFor(modelItem => item.Subtitle)</p>
            <p>@Html.ActionLink("Read story", "Details", "News", new { id = item.NewsID }, new { @class= "btn btn-default" })</p>
        </div>
    }
</div>