@model IEnumerable<FilmReview.Models.News>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>FilmReview Page</h1>
    <p class="lead">(update in the future)</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <center><h1>Latest News</h1></center>
    <hr />
    @foreach (var item in Model.Take(3))
    {
    <div class="col-md-4">
        <h3 style="font-weight:bold;">@Html.DisplayFor(modelItem => item.Title)</h3>
        <h4 style="color:#1818f3;">@Html.DisplayFor(modelItem => item.Date)</h4>
        <p>@Html.DisplayFor(modelItem => item.Subtitle)</p>
        <p>@Html.ActionLink("Read story", "Story", "News", new { id = item.NewsID }, new { @class = "btn btn-default" })</p>
    </div>
    }
</div>